@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');





body{
    font: 16px/28px arial,sans-serif;
    background-color: #00070829;
    background-image: url(leaves.webp);
    color: #333;
}

.container{
    width: 800px;
    margin: auto;
    background-color: rgb(239, 239, 234);
}
.header {
    padding: 20px;
}
.header .judul {
    font-family: "Roboto Slab", serif;
    color: rgb(4, 4, 4);
    font-size: 50px;
    font-weight: bold;
    margin-left: 1cm;

}
.header ul li {
    display: inline-block;
    margin-right: 5px;
}
.header a{
    text-decoration: none;
    color: rgb(238, 170, 11);
}
.header a:hover{
    background-color:lightskyblue;
    color: white;
}
.hero{
    height: 300px;
    background-image: url(99.jpg);
    background-size: cover;
    background-position: 0 -200px;
    border-top: 5px solid rgb(8, 8, 8);
    border-bottom: 5px solid rgb(250, 127, 4);
}
.content{
    padding: 20px;
}
.content h2{
    font-family: "Roboto Slab", serif;
    font-size: 300%;
    font-weight: bold;
}
.content .penulis{
    font-size: 11px;
    margin-top: -5px;
}
.content  .penulis {
    color: rgb(238, 170, 11);
    text-decoration: none;
    font-size: 100%;
}
.content p{
    margin-bottom: 10px;
    font-size: 150%;
}
.footer{
    background-color: rgb(18, 18, 18);
    padding: 10px;
}
.footer .copy{
    color: white;
    text-align: center;
    font-size: 100%;
}